D3VIL-BOT/config.py
D3VIL-BOT/*.session
D3VIL-BOT/*.session-journal
D3VIL-BOT/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
D3VIL-BOT/modules/helper_funcs/temp.txt
D3VIL-BOT/elevated_users.json
start-3.9.bat
*.session
kangsticker.png
venv
env
D3VIL-BOT.session-journal
updates.txt
*.exe
